
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/ExportToReport.dll
obj/Debug/ExportToReport.FormExportSchedule.resources
obj/Debug/ExportToReport.pdb
obj/Debug/ExportToReport.Resources.resources
obj/Debug/ExportToReport.vbproj.CopyComplete
obj/Debug/ExportToReport.vbproj.CoreCompileInputs.cache
obj/Debug/ExportToReport.vbproj.FileListAbsolute.txt
obj/Debug/ExportToReport.vbproj.GenerateResource.cache
obj/Debug/ExportToReport.vbprojAssemblyReference.cache
obj/Debug/ExportToReport.xml
obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
*.xlsx
*.dwg
*.rvt
*.zip
*.docx
*.xls
Материалы с артиклями/Рабочие материалы/20-163 Opwijk_wapening_2022.02.28
*.dll
*.pdb
*.xml
